.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:auto 20px;
    margin-top:10px;


}
.links{
    display: flex;
}

.links>a{
    margin:auto 25px;
    text-decoration:none;
    color: var(--logo-color);
    font-size:20px;
    transition: all 0.5s linear;
    display: block;
   }
   a:hover{
       transform: translateY(12px);
   }
   .logo{
       font-size:45px;
       width:100px;
       text-align: center;
       /* color: rgb(247, 31, 103); */
       color: var(--logo-color);
       font-weight: 700;
       margin-left: 15px;
      
       font-family: 'Dancing Script', cursive;
       line-height: 30px;
   }
   .menu-icon{
    display: none;
    font-size: 35px;
    color:var(--logo-color)
   }
   @media (max-width:480px){
    .logo{
        font-size:35px;
        width:50px;

    }
    .header{
        width:90%;
        margin:0 auto
    }
    .links{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .social{
        display: none;
    }
   }